.camera-roll {
  background: #2a2a2a;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  .top-row {
      display: flex;
      align-items: center;
      align-content: center;
      padding: 0 2rem;
      height: 3rem;
      .go-back {
          color: white;
          width: 3rem;
          height: 3rem;
          font-size: 1.5rem;
          font-weight: 900;
          display: flex;
          justify-content: center;
          align-items: center;
          align-content: center;
          cursor: pointer;
      }
  }
  .content {
      height: calc(100% - 3rem);
  }
}
@include md {
    .camera-roll {
        position: absolute;
        width: 100%;
        height: calc(100vh - 3px);
        top: 0;
        left: 0;
        bottom: 0;
        border-bottom: 3px solid #2a2a2a;

        .top-row {
            padding: 0 1rem;
        }
    }
}