.camera {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .camera-overlay {
    width: 100%;
    height: 100%;
    background-color: #2a2a2a;
    position: relative;
  }
}

@include sm {
  .camera {
    .camera-overlay {
      border-bottom: 1px solid #2a2a2a;
    }
  }
}

.tags-overlay {
  height: 100%;
  width: 100%;
  position: relative;
  .tag {
    position: absolute;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: rgba(134, 194, 50, 0.85);
    box-shadow: 0 0 1px 5px rgba(134, 194, 50, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .sequence {
      color: #fff;
      text-align: center;
      vertical-align: middle;
    }
  }
}