<div class="camera-captured-pane">
  <ng-container *ngIf="(photos$ | async) as photos;else empty">
    <div class="captured-photo-wrapper">
      <div class="captured-photo" *ngIf="photos.length > 0; else takeSome">
          <!-- One pane, handle showing one photo at a time -->
          <app-tagging [photo]="selectedPhotoIndex">
          </app-tagging>
          <!-- <img #imageTag [src]="photos[selectedPhotoIndex]" alt="image"> -->
          <div class="carousel-left-btn" *ngIf="photos.length > 1 && (selectedPhotoIndex - 1 > -1)" (click)="selectPhoto(selectedPhotoIndex - 1)"><span>&#10094;</span></div>
          <div class="carousel-right-btn" *ngIf="photos.length > 1 && (selectedPhotoIndex + 1 < photos.length)" (click)="selectPhoto(selectedPhotoIndex + 1)"><span>&#10095;</span></div>
      </div>
      <ng-template #takeSome>
        <div class="empty-message">
          <h2>No Photos Taken</h2>
          <p>Take some photos, then come back here to check them out!</p>
        </div>
      </ng-template>
  </div>
  <div class="roll">
    <div class="photo-wrapper" 
        *ngFor="let photo of photos; let i = index"
        [ngClass]="{'active': selectedPhotoIndex === i}" 
        (click)="selectPhoto(i)"
    >
      <div class="photo">
          <img [src]="photo" alt="image">
      </div>
    </div>
  </div>
  </ng-container>
  <ng-template #empty>
  </ng-template>
</div>