h1, h2, h3, h4, h5, h6, p {
  color: white;
  font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
h1 {
  font-size: 1.55em;
}
h2 {
  font-size: 1.35rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.15rem;
}