:root {
    --camera-shutter-dimension: 5rem;
}
$grow: 36px;

@mixin xs {
    @media (max-width: 359px) {
        @content;
    }
 }
@mixin sm {
    @media (max-width: 467px) {
        @content;
    }
 }
 @include sm {
     html {
        height: -webkit-fill-available;
     }
     body {
        height: 100vh;
        height: -webkit-fill-available;
     }
 }