<div class="camera-lens-container">
  <video
  class="camera-lens"
  height="100%"
  width="100%"
  #video
  autoplay
  (loadedmetadata)="onCameraMetadataLoaded($event)"
  ></video>
  <canvas
    #canvas
    [height]="cameraHeight"
    [width]="cameraWidth"
    hidden
  ></canvas>
  <div class="camera-gallery" [ngClass]="{'empty': cameraRoll.length < 1}">
    <img 
    *ngIf="cameraRoll.length > 0" 
    [src]="cameraRoll[cameraRoll.length - 1]" alt="image">
  </div>
  <div class="camera-shutter"
    [ngClass]="{'disabled': isCameraDisabled}"
    (click)="clickPhoto()"
    >
    <div class="camera-shutter-circle"></div>
  </div>
</div>